<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDfwG8_jhRJ1USSZXX21fEsAI-CQXhwKBo</string>
	<key>GCM_SENDER_ID</key>
	<string>282590785911</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.blackCoffer</string>
	<key>PROJECT_ID</key>
	<string>blackcoffer1-450ff</string>
	<key>STORAGE_BUCKET</key>
	<string>blackcoffer1-450ff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:282590785911:ios:b31c6ba715b45a88b43172</string>
</dict>
</plist>